
body {
    background-color: blanchedalmond;
}

header {
    color:brown;
    font-size: large;
}

h1 {
    color: brown;
}

h2 {
    color: brown;
}

input {
    color:green;
}

ul {
   
    color: coral;
}